{# templates/profile/profile.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        {% block head_css %}
            {{ encore_entry_link_tags('profile') }}
            <link href="{{ asset('build/profile.css') }}" />
        {% endblock %}
        {% block javascript %}
            {{ encore_entry_script_tags('profile') }}
            <script type="text/javascript" src="{{ asset('build/profile.js')}}"></script>
        {% endblock %}
    </head>
    {% block body %}
        <div class="container">
            <div class="row">
                <div class="col-6 offset-3">

                    <h1>Resume Profile</h1>
                    {{ dump(form) }}
                    {{ form_start(form) }}
                    {{ form_row(form.title) }}
                    <div class="row">
                        <div class="col">
                            {{ form_row(form.first_name) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.last_name) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">                    
                            {% if avatar_exists %}
                                <img class="img-thumbnail" src="{{ asset('files/images_directory/'~avatar_exists) }}">
                            {% endif %}</div>
                        <div class="col-9"> 
                            {{ form_row(form.image, { 'attr': {'placeholder': 'Change Image' }}) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ form_row(form.email) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.phone) }}
                        </div>
                    </div>
                    {{ form_row(form.background) }}
                    {{ form_row(form.first_name) }}
                    <div class="accordion" id="profileSectionsAccordion">
                        <div id="project_history_list" class="border border-secondary rounded p-2 bg-light" >
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#histories_collapse">
                                <h3>Project History</h3>
                            </button>
                            <div id="histories_collapse" class="collapse show" data-parent="#profileSectionsAccordion" data-prototype="
                                 {% filter escape %}
                                     {{ include('prototypes/project_histories.html.twig', { 'histories': form.project_history.vars.prototype }) }}
                                 {% endfilter %}">
                                {%  for profile_row in form.project_history %}
                                    <div class="card my-2">
                                        <div class="card-header">
                                            {{  profile_row.vars.value.title}}
                                        </div>
                                        <div class="card-body">
                                            {{ form_row(profile_row.title) }}
                                            {{ form_row(profile_row.description) }}
                                            <div class="row">
                                                <div class="col">
                                                    {{ form_row(profile_row.start) }}
                                                </div>
                                                <div class="col">
                                                    {{ form_row(profile_row.end) }}
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div id="proficiencies_list" class="border border-secondary rounded p-2 bg-light" >
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#proficiencies_collapse">
                                <h3>Proficiencies</h3>
                            </button>
                            <div id="proficiencies_collapse" class="collapse" data-parent="#profileSectionsAccordion" data-prototype="
                                 {% filter escape %}
                                     {{ include('prototypes/proficiencies.html.twig', { 'proficiencies': form.proficiencies.vars.prototype }) }}
                                 {% endfilter %}">
                                {#"{{ form_widget(form.proficiencies.vars.prototype)|e('html_attr') }}"#}
                                {%  for proficiency_row in form.proficiencies %}
                                    <div class="card my-2">
                                        <div class="card-header">
                                            {{  proficiency_row.vars.value.title}}
                                        </div>
                                        <div class="card-body">
                                            {{ form_row(proficiency_row.title) }}
                                            <div class="row">
                                                <div class="col">
                                                    {{ form_row(proficiency_row.years) }}
                                                </div>
                                                <div class="col">
                                                    {{ form_row(proficiency_row.percent) }}
                                                </div>
                                            </div>


                                            <fieldset class="form-group">
                                                {{ form_label(proficiency_row.icon, proficiency_row.icon.vars.label) }}
                                                <div class="proficiency_icon_list">
                                                    {% for child in proficiency_row.icon %}
                                                        <div class="row mx-0">
                                                            <span class="align-middle my-auto"> {{ form_widget(child, {'label' : " "})}}</span>
                                                            <span class="align-middle my-auto"> 
                                                                <label for="{{ child.vars.id }}" class="form-check-label icon_select_label">
                                                                    {{ child.vars.label | raw}}
                                                                </label> 
                                                            </span>
                                                        </div>
                                                    {%  endfor %}

                                                </div>

                                            </fieldset>
                                            {{ form_row(proficiency_row.icon_value) }}



                                        </div>
                                    </div>
                                {% endfor %} 
                            </div>
                        </div>
                        <div id="project_samples_list" class="border border-secondary rounded p-2 bg-light" >
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#samples_collapse">
                                <h3>Project Samples</h3>
                            </button>
                            <div id="samples_collapse" class="collapse" data-parent="#profileSectionsAccordion" data-prototype="
                                 {% filter escape %}
                                     {{ include('prototypes/project_samples.html.twig', { 'samples': form.project_samples.vars.prototype }) }}
                                 {% endfilter %}">
                                {%  for samples_row in form.project_samples %}
                                    <div class="card my-2">
                                        <div class="card-header">
                                            {{ samples_row.vars.value.title}}
                                        </div>
                                        <div class="card-body">
                                            {{ form_row(samples_row.title) }}
                                            {{ form_row(samples_row.blurb) }}
                                            <div class="row">

                                                <div class="col-3">   
                                                    {% set sample_index=samples_row.vars.value.sampleindex %}
                                                    {% if sample_exists and sample_exists[sample_index] is defined%}
                                                        <img class="img-thumbnail" src="{{ asset('files/images_directory/project_samples/'~sample_exists[sample_index]) }}">
                                                    {% endif %} </div> 
                                                <div class="col-9"> 

                                                    {{ form_row(samples_row.project_image) }}
                                                </div>
                                            </div>
                                            {{ form_row(samples_row.link) }}
                                            {{ form_row(samples_row.sampleindex) }}

                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div id="configuration" class="border border-secondary rounded p-2 bg-light">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#configuration_collapse">
                                <h3>Configuration</h3>
                            </button>
                            <div id="configuration_collapse" class="collapse" data-parent="#profileSectionsAccordion">
                                <div class="card my-2">
                                    <div class="card-header">
                                        Configurations
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-3">                    
                                                {% if avatar_exists %}
                                                    <img class="img-thumbnail" src="{{ asset('files/images_directory/'~background_exists) }}">
                                                {% endif %}</div>
                                            <div class="col-9"> 
                                                {{ form_row(form.configuration.background_image,  { 'attr': {'placeholder': 'Change Image' }}) }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{ form_row(form.configuration.dateformat) }}
                                            </div>
                                            <div class="col">
                                                {{ form_row(form.configuration.color) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    {% endblock %}
</html>
