
{{ form_row(histories.title) }}
{{ form_row(histories.position) }}
{{ form_row(histories.description) }}
{{ form_row(histories.skills) }}
<div class="row">
    <div class="col">
        {{ form_row(histories.start) }}
    </div>
    <div class="col">
        {{ form_row(histories.end) }}
    </div>
</div>

