<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block head_css %}
            {{ encore_entry_link_tags('resumepdf') }}
            <link href="{{ asset('build/resumepdf.css')[1:]}}" rel="stylesheet" type="text/css" />
            <link href="../../vendor/fortawesome/font-awesome/css/all.css" rel="stylesheet" type="text/css" />
        {% endblock %}
        <title>Resume for {{ user.first_name }} {{ user.last_name }}</title>
    </head>
    <body class="pdfbody">
        <div id="pdfheadline">
            {% if user.image %}
                <div class="pdfinlineimage d-inline-block px-1 my-3">
                    <img id="pdfpersonalimage" class="d-inline-block" src="{{ asset('files/images_directory/'~user.image)[1:] }}" >
                </div> 
            {% endif %}
            <div class="pdfpersonaldescription d-inline-block px-1">
                <div class="pdffullname text-one">
                    {{ user.first_name }} {{ user.last_name }}
                </div>
                <div class="pdfpersonaltitle small">
                    {{ user.title }}
                </div>
            </div>

            <div id="pdfcontactline" class="bg-one vlight w-100 text-center">
                <div class="pdfcontactelements text-one dark text-center">
                    {% if user.email %}
                        <div class="pdfcontactelement d-inline-block">
                            <span class="pdfcontacticon far fa-envelope">
                            </span>
                            <span class="pdfcontactlabel">
                                email: 
                            </span>
                            <span class="pdfcontactvalue">
                                {{ user.email }}
                            </span>
                        </div>
                    {% endif %}
                    {% if user.phone %}
                        <div class="pdfcontactelement d-inline-block">
                            <span class="pdfcontacticon fas fa-mobile-alt">
                            </span>
                            <span class="pdfcontactlabel">
                                phone: 
                            </span>
                            <span class="pdfcontactvalue">
                                {{ user.phone }}
                            </span>
                        </div>
                    {% endif %}                        
                    <div class="pdfcontactelement d-inline-block">
                        <span class="pdfcontacticon fas fa-map-marker-alt">
                        </span>
                        <span class="pdfcontactlabel">
                            location: 
                        </span>
                        <span class="pdfcontactvalue">
                            {{ user.location }}
                        </span>
                    </div>

                </div>

            </div>
        </div>
        <div id="pdfmain" class="align-top position-relative">
            <div id="pdfmaintable" class="">
                <div class="pdfmainrow">
                    <div class="pdfrightcol align-top d-inline-block bg-one vlight">
                        <div class="pdfskills">
                            <div class="pdfrightcolsectiontitle bg-one light text-center">
                                <h5 class="pdfskillslabel text-one dark">Skills</h5>
                            </div>
                            {%  for cat_index,category in proficiencies %}
                                <div class="pdfcategory text-left px-2">
                                    <div class="pdfcategorylabel text-one light">
                                        {{ cat_index }}
                                    </div>
                                    <div class="pdfproficiencylist text-one small">
                                        {% for prof_index,proficiency in proficiencies[cat_index] %}
                                            {{proficiency.title}}{% if prof_index+1 < loop.length %}, 
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                        <div class="pdftopskills">
                            <div class="pdfrightcolsectiontitle bg-one light text-center">
                                <h5 class="pdftopskillslabel text-one dark">Expertise</h5>
                            </div>
                            {% for top_index,skill in top_skills  %}
                                {% if skill.percent > 50 %}
                                    {% set mastery=skill.percent / 10 %}
                                    {% set marked="fas fa-circle" %}
                                    {% set unmarked="far fa-circle" %}


                                    <div class="pdftopskill px-2">
                                        <div class="pdftopskillcontainer w-50 d-inline-block position-relative">
                                            <span class="pdftopskilltitle position-absolute text-one">
                                                {{ skill.title }}
                                            </span>
                                            <span class="pdftopskillicon position-absolute fab fa-{{skill.icon}} text-one dark"></span>
                                        </div>
                                        <div class="pdftopskillmaster d-inline-block small w-25 text-right text-one light">
                                            {% for i in 1..10 %}
                                                {% if mastery >= i %}
                                                    {% set font_class=marked %}
                                                {% else %}
                                                    {% set font_class=unmarked %}
                                                {% endif %}
                                                <span class="text-one {{font_class}}" />
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="pdfweblinks">
                            <div class="pdfrightcolsectiontitle bg-one light text-center">
                                <h5 class="pdfweblinkslabel text-one dark">Web Links</h5>
                            </div>
                            <div class="pdfweblinks px-2">
                                <div class="pdfweblink">

                                    <span class="pdfweblinktitle text-one">
                                        <span class="fas fa-link"></span>
                                    </span>
                                    <span class="pdfweblinkurl text-one dark"> {{ url('main')|replace({'http://': "", 'https://': ""})|trim('/') }}</span>
                                </div>
                                {%  if user.linkedin %}
                                    <div class="pdfweblink">

                                        <span class="pdfweblinktitle text-one">
                                            <span class="fab fa-linkedin-in"></span>
                                        </span>
                                        <span class="pdfweblinkurl text-one dark"> {{ user.linkedin|replace({'http://': "", 'https://': ""})|trim('/') }}</span>
                                    </div>
                                {% endif %}
                                {% if user.github %}
                                    <div class="pdfweblink">

                                        <span class="pdfweblinktitle text-one">
                                            <span class="fab fa-github"></span>
                                        </span>
                                        <span class="pdfweblinkurl text-one dark"> {{ user.github|replace({'http://': "", 'https://': ""})|trim('/') }}</span>
                                    </div>
                                {% endif %}
                                {% if user.gitlab %}
                                    <div class="pdfweblink">

                                        <span class="pdfweblinktitle text-one">
                                            <span class="fab fa-gitlab"></span>
                                        </span>
                                        <span class="pdfweblinkurl text-one dark"> {{ user.gitlab|replace({'http://': "", 'https://': ""}) |trim('/')}}</span>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="pdfleftcol align-top d-inline-block">
                        <div id="pdfsummary" class="position-relative">
                            <div class="pdfleftcolsectiontitle bg-one text-center">
                                <h4 class="pdfsummarylabel text-one vdark">Summary</h4>
                            </div>
                            <div class="pdfsummarytext text-one dark mx-auto small">{{ user.summary | raw }}</div>
                        </div>
                        <div class="pdfleftcolsectiontitle bg-one text-center">
                            <h4 class="pdfexperiencelabel text-one vdark">Experience</h4>
                        </div>
                        {% for exp_index,project in histories %}
                            <div class="pdfprojectheadline w-100">
                                <h5 class="pdfprojectitle d-inline text-one dark">
                                    {{ project.title }}
                                </h5>
                                {% if project.position %}
                                    <span class="pdfprojectposition small text-one">
                                        - {{ project.position }}
                                    </span>
                                {% endif %}
                            </div>
                            <div class="pdfprojectdescription text-one dark">
                                {{ project.description | raw }}
                            </div>
                            {% if project.skills %}
                                <div class="pdfprojectskills small text-one light px-2">
                                    {{ project.skills }}
                                </div>
                            {% endif %}
                            <div class="pdfprojectdates text-one dark small mb-2 px-2">
                                <span class="pdfprojectstart">
                                    {{ project.start }} -
                                </span>
                                <span class="pdfprojectend">
                                    {{ project.end }}
                                </span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>